.h2 {
  font-weight: bold;
  font-size: 24px;
  padding-left: 10px;
  padding-bottom: 6px;
  margin-top: 1em;
  border-left: 24px #ff9999 solid;
  border-bottom: 3px #ff9999 solid;
}

.p {
  margin-left: 1em;
}
